/*descendant selector
child selector (>)*/
/*.list-1 > .item { 
	color: red;
	text-decoration: underline;
	border: 1px solid #333;
}
*/
/*adjacent sibling selector*/
/*.list-1 .item-1 + .item { 
	color: red;
	text-decoration: underline;
	border: 1px solid #333;
}*/
/*general sibling selector*/
.list-2 .item-3 ~.item{ 
	color: red;
	text-decoration: underline;
	border: 1px solid #333;
}